@charset "utf-8";

/*
==========
TABLE OF CONTENTS
==========

|| VARIABLES
|| BASE
    -- Typography
    -- Elements
    -- Links
|| COMPONENTS
    -- Header
    -- Main
    -- Footer
*/


/* || VARIABLES ===================================*/
:root{ 
    /* colors */
    --pri1: #ff8c1b;
    --pri2: #ffa64f;
    --pri3: #ffbe6e;

    --sec1: #004e75;
    --sec2: #29a7d1;
    --sec3: #4ecdde;

    --light1: #f8f0e7;
    --light2: #d5c9bc;

    --dark1: #0f101d;
    --dark2: #2f334c;
}

/* || BASE ======================================= */
/* -- Typography --------------------------------- */
body {
    background-color: var(--dark1);
    color: var(--light1);
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
}

p {
    margin: 0.75rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    color: var(--pri1);
    font-weight: 700;
}

h1 {
    font-size: 2.5rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
}
h2 {
    color: var(--pri3);
    font-size: 1.875rem;
    margin: 0 0 2rem 0;
    text-transform: uppercase;
    letter-spacing: 0.125rem;
    text-shadow: 0.25rem 0.125rem var(--sec1), 0 0 1rem var(--sec1);
    font-weight: 900;
}
h3 {
    font-size: 1.5rem;
    margin: 3rem 0 0 0;
}
h4 {
    font-size: 1.125rem;
    color: var(--pri2);
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.0625rem;
    margin: 1.5rem 0 0 0;
}
article h4:first-of-type {
    margin: 1rem 0 0 0;
}

figcaption {
    font-size: 1rem;
}

/* -- Elements ----------------------------------- */
html {
    scroll-behavior: smooth;
}

:target:before {
    content: "";
    display: block;
    height: 2rem;
    margin: -2rem 0 0;
}


button {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: var(--dark1);
    background-color: var(--sec3);
    border: none;
    display: inline-block;
    padding: 0.75rem 1rem;
}

/* -- Links -------------------------------------- */
a,
a:visited {
    color: var(--pri3);
}

a:hover,
a:focus {
    color: var(--sec2);
}

a:focus {
    border: 2px solid var(--sec1);
}

a:active {
    color: var(--sec3);
    background-color: var(--sec1);
}




/* || COMPONENTS ================================= */
body{
    background-color: var(--dark1);
}

.site-wrapper {
    display: grid;
    grid-template-columns: minmax(auto, 60rem);
    justify-content: center;
}

@media (min-width: 64em) {
	.site-wrapper{
		grid-template-columns: 20rem minmax(auto, 64rem);
	}
}

/* -- Header ------------------------------------- */
.site-header {
    background-color: var(--dark1);
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 100;
    display: flex;
    border-bottom: var(--sec1) 0.125rem solid;
    box-shadow: 0 0 1.5rem var(--dark2);
    justify-content: space-between;
    align-items: center;
}

.site-header h1 {
    font-size: 2rem;
    color: var(--sec2);
    margin: 0;
    padding: 0 0 0 1rem;
}

/* menu button */
.menu-toggle {
	display: inline-block;
	background-color: transparent;
	border: 0;
}

.menu-toggle svg path {
	fill: var(--light1);
}

.menu-toggle:focus {
	border: 0;
	outline: 1px dotted;
} 




.site-navigation>ul {
    background-color: var(--dark2);
    font-size: 1.25rem;
    display: none;
	list-style: none;
	padding: 1rem;
	margin: 0;
	text-align: left;
	position: absolute;
    width: 100%;
	z-index: 70;
    right:0;
}

.site-navigation>ul>li:not(:first-of-type) {
	margin: 1rem 0 0 0;
}

.site-navigation>ul>ul {
    list-style: none;
    padding: 0 0 0 1rem;
}

.site-navigation.toggled ul {
	display: block;
}

.site-navigation a {
	display: block;
	padding: 0.25rem;
	text-decoration: none;
    color: var(--light1);
    font-weight: 600;
}


/* Navigation Bar */
nav a:hover,
nav a:focus {
    color: var(--pri3);
}

nav a:focus {
    border: 2px solid var(--dark1);
}

nav a:active {
    color: var(--sec3);
}

@media (min-width: 64em) {
    .site-header h1 {
        font-size: 3rem;
        padding: 1.5rem 0 0 0;
        text-align: center;
    }
    
    .site-header {
        display: flex;
		flex-direction: column;
        position: sticky;
        height: 100vh;
        justify-content: flex-start;
        border-bottom: none;
        border-right: var(--sec1) 0.125rem solid;
        border-left: var(--sec1) 0.125rem solid;
    }

    .menu-toggle {
        display: none;
    }

    .site-navigation ul {
        background-color: transparent;
        display: flex;
		flex-direction: column;
        height: max-content;
        padding: 1.5rem;
    }

    .site-navigation>ul>li:not(:first-of-type) {
        margin: 1.5rem 0 0 0;
    }
    
    .site-navigation>ul>ul>li {
        padding: 0.25rem 0;
    }
}

/* -- Main --------------------------------------- */

section{
    background-color: var(--dark1);
    padding: 2.5rem 1rem;
}

@media (min-width: 64em) {
    section {
        padding: 2.5rem 
    }

    h2 {
        font-size: 3.75rem;
    }

    h3 {
        font-size: 2rem;
    }

    h4 {
        font-size: 1.25rem;
    }
}

a.button,
a.button:visited {
    background-color: var(--sec1);
    color: var(--light1);
    display: inline-block;
    text-decoration: none;
    padding: 0.75rem 3rem;
    border-radius: 0.25rem;
}

a.button:hover,
a.button:focus {
    background-color: var(--sec2);
    box-shadow: 0.25rem 0.125rem 0.75rem var(--dark2);
    transition: 0.2s ease;
}

a.button:focus {
    border: 2px solid var(--sec1);
}

a.button:active {
    background-color: var(--sec3);
}




/* Footer -----------------------------------------*/

footer {
    background-color: var(--dark1);
    color: var(--light1);
    padding: 1rem;
    text-align: center; 
}

@media (min-width: 64em) {
    footer {
        grid-column: 2/3;
    }
}