/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN ANOTHER FILE)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Layouts
# Components
	- Header
	- Main
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Typography
--------------------------------------------- */
body {
}

h1,
h2,
h3,
h4,
h5,
h6 {
}

p {
}

/* Elements
--------------------------------------------- */
ul {
}

ol {
}

dl {
}

figure {
}

table {
}

/* Links
--------------------------------------------- */
a {
}

a:visited {
}

a:hover {
}

a:focus {
}

a:active {
}

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Header
--------------------------------------------- */

/* Main
--------------------------------------------- */

/* Footer
--------------------------------------------- */
